#splashHeader {
    z-index: 999;
    background-image: url(http://r-cars.github.io/images/background.jpg);
}
.headerPadding {
    padding-top: 25vh;
}
.content {
    /* just for testing */
    margin-bottom: 1000px;
}
.headerSocialVerticalCenter {
    position: relative;
    top: 60%;
    transform: translateY(-50%);
}
.transparentHover {
    background-color: transparent !important;
}
