/* Splash screen and header */
#splashHeader {
    z-index: 999;
    background-image: url(http://r-cars.github.io/images/newbackground.jpg);
}
.splashMaximized {
    height: 100vh;
    position: relative;
    background-image: url(http://r-cars.co/images/newbackground.jpg);
}
.splashMinimized {
    height: 15vh;
    position: fixed;
    top: 0px;
}

/* Social Icons */
.socialIcon {
    font-size: 2em;
}
@media only screen and (max-width: 500px) {
    .socialIcon {
        font-size: 1.2em;
    }
}
.transparentHover {
    background-color: transparent !important;
}
.headerSocialVerticalCenter {
    position: relative;
    top: 60%;
    transform: translateY(-50%);
}

/* Article styles */
.headerPadding {
    padding-top: 25vh;
}
.content {
    /* just for testing */
    margin-bottom: 1000px;
}
.articleImage {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#articleSideBar {
    position: fixed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    top: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 999;
}

#articleSideBarContent {
    overflow: visible;
    overflow-y: scroll;
    height: 100%;
}

.article-close {
  font-family: sans-serif;
  font-weight: 100;
  color: #3A4145;
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  float: left;
  outline: none;
  padding: 15px 25px
}
